/*HEADER*/
.navbar {
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}
.navegacion{
    display: contents;
}
#home{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}
#home:hover{
    font-weight: bold;
}
.empresa {
    color: rgb(6, 0, 83);
    letter-spacing: 0.15rem;
    font-size: 40px;
}
h2 {
    text-align: center;
    color: rgb(6, 0, 83);
    padding: 20px;
}
.articleCarta{
    display: flex;
    justify-content: space-evenly;
}
.cartaServicio{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 245, 245);
}
.carroNum{
    display: inline-block;
}
#cajaCarrito{
    margin: 50px 5px;
}
.botones{
    text-align: center;
}
.copyright{
    font-size: 13px;
}
/* #total{
    text-align: right;
} */